<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Spica Admin</title>

  <link rel="stylesheet" th:href="@{../../vendors/mdi/css/materialdesignicons.min.css}">
  <link rel="stylesheet" th:href="@{../../vendors/css/vendor.bundle.base.css}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" th:href="@{../../css/style.css}">
  <!-- endinject -->
  <link rel="shortcut icon" th:href="@{../../images/favicon.png}" />
</head>
<body>
<div class="container-scroller d-flex">
  <!-- partial:./partials/_sidebar.html -->
  <div th:replace="~{commons/commons::sidebar}"></div>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:./partials/_navbar.html -->
    <div th:replace="~{commons/commons::navbar}"></div>
    <div class="table-responsive">
      <a class="btn btn-sm btn-success" th:href="@{/toAddUser}">Add User</a>
      <table class="table table-striped table-sm">
        <thead>
        <tr>
          <th>Id</th>
          <th>Username</th>
          <th>Email</th>
          <th>Country</th>
          <th>Jurisdiction</th>
        </tr>
        </thead>
        <tbody>
        
        <!--/*@thymesVar id="allUsers" type="com.aftvc.top.controller.UserController"*/-->
        <tr th:each="use:${allUsers}">
          
          <td th:text="${use.getId()}"/>
          <td>[[${use.getUsername()}]]</td>
          <td th:text="${use.getEmail()}"/>
          <td th:text="${use.getCountry()}"/>
          <td th:text="${use.getStatu()==0? 'Simple':'Vip'}"/>
          <td>
            <a class="btn btn-sm btn-primary" th:href="@{'/FindUser/'+${use.getId()}}">Update User</a>
            <a class="btn btn-sm btn-danger" th:href="@{'/DeleteUser/'+${use.getId()}}">Delete User</a>
          </td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- base:js -->
<script src="../../vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="../../vendors/chart.js/Chart.min.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="../../js/off-canvas.js"></script>
<script src="../../js/hoverable-collapse.js"></script>
<script src="../../js/template.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="../../js/dashboard.js"></script>
<!-- End custom js for this page-->
</body>
</html>

